$font-family-sans-serif: 'Roboto', 'Helvetica Nueue', Helvetica, sans-serif;

@import 'node_modules/bootstrap/scss/bootstrap';

.file-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;

  .preview {
    height: 50px;
    width: 50px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }

  .transferred {
    opacity: 1;
  }
}

.current-file {
  margin-top: 30px;
}

.finished {
  margin-top: 30px;
}

.gallery {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;

  .gallery-card {
    width: 200px;
    height: 260px;
    margin: 30px;

    .gallery-img {
      width: 197px;
      height: 150px;
      background-repeat: no-repeat;
    }

    .card-body {
      .card-text {
        .download {
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .card-title-container {
        margin-bottom: 0.75rem;
        height: 45px;
        overflow: hidden;

        h5.card-title {
          margin-bottom: 0px;
        }
      }
    }
  }
}
