$font-family-sans-serif: 'Roboto', 'Helvetica Nueue', Helvetica, sans-serif;

@import 'node_modules/bootstrap/scss/bootstrap';

.file-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .preview {
    height: 50px;
    width: 50px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
  }

  .transferred {
    opacity: 1;
  }
}

.current-file {
  margin-top: 30px;
}
